

<div class="container">
<h1> <%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
  <div class="list-group-item d-flex">
    <p id="grow"><%= dose.description %> <%= dose.ingredient.name %></p>
    <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
  <% end %>

<%= link_to "Add doses", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary mt-4' %>
<%= link_to '<i class="fas fa-cocktail mt-4"></i>'.html_safe, root_path %>

</div>



